<!doctype html>
<html>
<head>
    <title>Dispatch Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Dispatch Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
      <button class="btn btn-default" id="dispatchUpdate" >update Dispatch</button> 
     
    <div class="row">
        <div class="col-sm-6">
            <div class="well" id="dispatchDiv">
                <h3><span class="fa fa-user"></span> Safe Ride Dispatch</h3>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#dispatchUpdate').click(function(){

          $.post("/dispatchUpdate",null, function(resp) {
          console.log("length of responce: " + resp.length);
            for(x = 0; x< resp.length; x++){
                 $("#dispatchDiv").append(
                    '<p id='+resp[x].local.name+'><strong>UOID</strong>: ' +resp[x].local.name+'<br><strong>phone</strong>: ' +resp[x].local.phone+'<br><strong>Time</strong>: ' +resp[x].local.time+'<br><strong>Pick-up</strong>: ' +resp[x].local.currentLocation+'<br><strong>Drop-off</strong>: ' +resp[x].local.dropLocation+'<br><strong>Party Size</strong>: ' +resp[x].local.party+'<br><strong>Additional Info</strong>: ' +resp[x].local.additionalInfo+'<br><strong>Status</strong>: <span id="status'+x+'"> ' +resp[x].local.status+'</span><br><button onclick= $("#status'+x+'").text("Confirmed")  id="Button" class="btn btn-warning btn-lg">Confirm Request</button><button onclick=  $(this).parent().hide() class="btn btn-warning btn-lg">Remove</button></p>'
                    );
            }
          });
        });  
    });
     $('#confirmButton').click(function(){
        console.log("button Click");
        $.post("/buttonTest",null, function(req, resp) {
          req.send('information from client');
          console.log(resp);
        });
      }); 
    function test(name){
      console.log(name.value() + ' testSat!!');
    } 
</script>

</html>